@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Syncopate&display=swap');

.navbar-toggler {
    border: none !important;
}

/* 
font-family: 'Syncopate', sans-serif;
font-family: 'Sue Ellen Francisco', cursive; 
*/

.navbar-brand {
    font-family: 'Syncopate', sans-serif;  
}

.btn {
    border-radius: 0;
}

.fa-linkedin, .fa-github {
    font-size: 1.7rem;
}

.img-fluid {
    padding-bottom: 2rem;
}

.project-text {
    line-height: 2rem;
    letter-spacing: .2rem;
}

#about, p {
    letter-spacing: .25rem;
}
/* Photo by pine watt on Unsplash */